<?php
echo $this->Html->css('cake.generic');
?>
<style type="text/css">
    body,html{
        padding: 0;
        margin: 0;
}
</style>
<div id='vse'>
<table id="tabela_forum">
<thead>
<tr>
<th scope="col">Kategorije</th>
<th scope="col">Število vseh vprašanj</th>
<th scope="col">Število vseh odgovorov</th>
</tr>
</thead>
    <tbody>
<?php


foreach($vse as $temp)
{
    echo "<tr>";
    echo "<td>".$this->Html->link($temp["k"]["daljse"],    array('controller' => 'forum', 'action' => 'kategorijewebgl', $temp["k"]["kategorija"]))."</td>";
    echo "<td>".$temp['0']['stevilo_tem']."</td>";
    echo "<td>".$temp['0']['stevilo_prispevkov']."</td>";
    echo "</tr>";

}
?>
    </tbody>
</table>     
<form method='POST' name='dodajOglas' action="<?php echo $this->Html->url(array("controller"=>"Iskanje","action"=>"index"));?>">
    Iskalni niz:&nbsp&nbsp<input type="text" name="iskanje" size="20"/>&nbsp&nbsp
    <input type="submit" value="Išči" id="potrdi"/>
	</form>
</br>
<?php
if(isset($rezultat))
{
print_r($rezultat);
}
?>
</div>