<html>
<head>
	<style>
		html,body{
			background-color: white;
		}
		
	</style>
<?php
$vrednostcpu = "";
$vrednostram = "";
$vrednostdatum = "";
for ($i = 0; $i < 10; $i++) {
	$vrednostdatum .= '"' . $cpu[$i]["cpu"]["Cas"] . '",';
	$vrednostram .= $cpu[$i]["cpu"]["VrednostRAM"] . ',';
	$vrednostcpu .= $cpu[$i]["cpu"]["VrednostCPU"] . ',';
}
//echo $vrednostcpu;
?>

		
<?php 
            echo $this->Html->script('Chart');
?>
	<meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
	</head>
	<body>
        <img src='http://shrani.si/f/5/be/ZnQSQGw/legenda.png' style="margin-left:50px;"/><br/>
		<canvas id="canvas" height="450" width="800"></canvas>

		<script>
		  var optionsNoAnimation = {
    animation : false,
    //Boolean - If we want to override with a hard coded scale

  }
var lineChartData = {
    labels: [ <?php echo substr($vrednostdatum, 0, -1); ?> ],
    datasets: [{
        fillColor: "rgba(0,0,0,0.5)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        data: [ <?php echo substr($vrednostram, 0, -1); ?> ]
    }, {
        fillColor: "rgba(27,218,255,0.5)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        pointStrokeColor: "#fff",
        data: [ <?php echo substr($vrednostcpu, 0, -1); ?> ]
    }]

}

function osvezi(){
	window.location.reload()
}

var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData,optionsNoAnimation);
setTimeout(osvezi,8000);

/*$(document).ready(function () {

    var CAS = "";
    var RAM = "";
    var CPU = "";

    function osvezi() {
        $.ajax({ //create an ajax request to load_page.php
            type: "GET",
            url: "/feri/webgl/cpu2",
            dataType: "html" //expect html to be returned 
        }).done(function (response) {
                //alert(response);
                var rez = JSON.parse(response);
                for (i = 0; i < 10; i++) {
                    //console.log(rez[i].cpu.Cas);
                    lineChartData.datasets[0].data[i]=parseInt(rez[i].cpu.VrednostRAM);
                    //CAS += '"' + rez[i].cpu.Cas + '",';
                    //RAM += rez[i].cpu.VrednostRAM + ",";
                    //CPU += rez[i].cpu.VrednostCPU + ",";
                    //console.log(rez[i].cpu.Cas);
                    //console.log(rez[i].cpu.VrednostRAM);
                    //console.log(rez[i].cpu.VrednostCPU);
                }
                //lineChartData.labels = CAS.substring(0, CAS.length - 1);
               // lineChartData.datasets[0].data = [RAM.substring(0, RAM.length - 1)];
                //console.log(RAM.substring(0, RAM.length - 1));
                //lineChartData.datasets[1].data = [CPU.substring(0, CPU.length - 1)];
                CAS = "";
                RAM = "";
                CPU = "";
                console.log(lineChartData.datasets[1].data[0]);
			
            });
         
    }
 
   setInterval(osvezi, 1000);
   //lineChartData.datasets[0].data=[120,200,234,56];
});*/
		</script>

	</body>
</html>

