<html>
<head>
	<title>Prijava</title>
	<style type="text/css">

	body,html{
	margin: 0;
	background-color: white;
	padding: 0;
}
	</style>
</head>
<body>
	<?php
		if(isset($msg)){
			echo $msg;
		}
	 ?>
	<?php echo $this->Form->create(null,array("url"=>array("controller"=>"webgl","action"=>"login")));  ?>
	<input type='text' name='user'/>
	<input type='password' name='pas'/>
	<input type='submit' value='Prijava' id='gumbek'/>
	</form>
</body>
</html>
