<!DOCTYPE html>
<html>
<head>
 <title>Oglasna</title>
  <?php echo $this->Html->css('cake.generic'); ?>
 <?php echo $this->Html->script('jquery-1.8.2'); ?>
 <?php echo $this->Html->script('html2canvas'); ?>
 <?php echo $this->Html->script('jquery.plugin.html2canvas'); ?>
 <style type="text/css">
    body{
      background-color: white;
    }
    body,html{
      margin: 0;
      padding: 0;
    }
    #screenshot{
      background-color: white;
      height:100px;
    }
  </style>
</head>
<body>
<div id='screenshot'>
<h1>Tlak</h1>
<hr />
<div id='tlak' style="font-size:20px; font-weight: bold; color:blue;"></div>
<script type="text/javascript">
$(document).ready(function(){
 osvezi();
 function osvezi(){
 $.ajax({
    url : "http://localhost/PICTLAK.txt",
    dataType: "text",
    success : function (data) {
        $("#tlak").html(data+" kPa");
    }
});
}
       
     setInterval(osvezi,1200);
});

</script>
</body>
</html>