<script>window.googleJavaScriptRedirect=1</script><META name="referrer" content="origin"><script>var m={navigateTo:function(b,a,d){if(b!=a&&b.google){if(b.google.r){b.google.r=0;b.location.href=d;a.location.replace("about:blank");}}else{a.location.replace(d);}}};m.navigateTo(window.parent,window,"http://arstechnica.com/science/2012/10/a-small-but-glorious-world-the-best-microscope-images-of-2012/");
</script><noscript><META http-equiv="refresh" content="0;URL='http://arstechnica.com/science/2012/10/a-small-but-glorious-world-the-best-microscope-images-of-2012/'"></noscript>