<?php echo $this->Html->link("Nazaj na oglasno desko",array("controller" => "Oglasna","action" => "index")); ?>
<table id='tabela'>
	<tr>
		<th>Naslov</th><th>Smer</th><th>Letnik</th><th>Avtor</th><th>Vsebina</th><th>Datum</th>
	</tr>
	<?php foreach ($deska as $oglas): ?>
	 <tr>
	 	<td><?php echo $oglas['o']['naslov']; ?></td>
        <td><?php echo $oglas['c']['naziv']; ?></td>
        <td><?php echo $oglas['o']['letnik']; ?></td>
        <td><?php echo $oglas['o']['avtor']; ?></td>
        <td><?php echo $oglas['o']['vsebina']; ?></td>
        <td><?php echo $oglas['o']['datum']; ?></td>
    </tr>
     <?php endforeach; ?>
</table>
<?php
if($datoteke != null){
	echo "Priložene datoteke: </br>";
	echo "<ul>";
	foreach ($datoteke as $file){
		echo "<li><a href='../files/".$file['d']['ime']."'>".$file['d']['ime']."</a></li>";
	}
	echo "</ul>";
}


?>


