<div id='levo'>
<div id="cssmenu">
  <ul>
      <li id='neki'><a href="/feri/novice/dodajnovico">Dodaj novico</a></li>
      <li id='neki'><a href="/feri/novice/uredi">Uredi novice</a></li>
      <li id='neki'><a href="/feri/oglasna/dodajoglasno">Dodaj prispevek na oglasno desko</a></li>
      <li id='neki'><a href="/feri/oglasna/uredi">Uredi oglasno desko</a></li>
      <li id='neki'><a href="/feri/album/dodaj_album">Dodaj album slik</a></li>
      <li id='neki'><a href="/feri/slike/dodaj_slike">Dodaj slike v album</a></li>
      <li id='neki'><a href="/feri/Album/index">Seznam albumov</a></li>
      <li id='neki'><a href="/feri/Slike/index">Uredi slike po albumu</a></li>
  </ul>
 </div> 
</div>
<div id='vse'>
<?php
echo $this->Session->flash();
echo "<br/>";
?>
<script type="text/javascript" src="http://tinymce.moxiecode.com/js/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<form method='POST' enctype="multipart/form-data">
*Naslov oglasa:<input type="text" name="naslov_oglasa" value='<?php echo $oglasi[0]['o']['naslov']; ?>'/></br></br>
<textarea name='tiny' ><?php echo $oglasi[0]['o']['vsebina']; ?></textarea><br/>
<input type='hidden' name='id_oglasa' value='<?php echo $oglasi[0]['o']['id'];?>'/>
<script type="text/javascript">
    tinyMCE.init({
       theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,formatselect,fontselect,fontsizeselect,help",
       theme_advanced_buttons2 : "search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
       theme_advanced_buttons3 : "hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions",
       theme : "advanced",
       theme_advanced_font_sizes : "10px,12px,14px,16px,24px",
       mode : "textareas",
       width: '750',
       height: '450', 
       convert_urls : false
    });
</script>
<?php
for($i=0;$i<count($datoteke);$i++)
{
	echo "<a href='/feri/files/Oglasna/".$oglasi[0]['o']['id']."/".$datoteke[$i]['d']['ime']."'>".$datoteke[$i]['d']['ime']."</a>";
	echo "<a id='brisi_novico' href='/feri/oglasna/brisi_datoteko/".$datoteke[$i]['d']['id']."'>".$this->Html->image('brisi.png')."</a></br></br>";   
}
?>
</br>
Datoteke:<input type="file" name="datoteke[]" multiple="multiple"/><br/><br/>
<input type='submit' value='Uredi' id='potrdi'/>
</form> 
</div>


