body,html{
	margin:0;
	padding:0;
	width:100%;
    font-family:Arial, Helvetica, Sans-serif;
    font-size: 14px;
}
body{
	background-color:#f6f6f6;	
}
#logo_feri{
	padding:17px;
}

#glava{
	background-color:#086ca2;
	height: 100px;
}
#prijava_b:hover{
	cursor: pointer;
}
#osebje-iskalnik{	
	border:1px solid #888;
	margin-bottom: 10px;
	box-shadow: 0 2px 10px  #888;

}
 
#podatki-iskanje-osebje{
	margin-left: 200px;
}

#podatki-dodaj-album{ 
	float:left;   
    padding: 10px;
    height: 160px;
}

#album-seznam{
	border:1px solid #888;
	float:left;
	margin-bottom: 10px;
	box-shadow: 0 2px 10px  #888;
}

#seznam-dodaj-album{
	margin: 40px 10px 10px 10px;
}
  
.seznam-albumov tr td, .album-slike tr td{
	padding: 10px;
	text-align: center;
}
#menu{
	background-color:#3c9dd0;
	height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
	box-shadow: 0 4px 20px -5px #888;
}
#submenu2 li:first-child{
	//border-top: 1px solid black;
}
#submenu2 li{
	list-style-type:none;
	position: relative;
    line-height: 35px; 
    width: 200px;
    text-align: center;
    background-color:#f1f1f1;
    border-bottom: 1px solid black;
}
#submenu2 li a{
	text-decoration: none; 
	display: block; 
	color: black; 
}
#menu2 li{
	list-style-type:none;
	float: left;
    position: relative;
    line-height: 35px; 
}
#submenu2,#submenu{
	padding:0;
	margin:0;
}
#submenu2 li:hover{
	background-color:#3c9dd0;
}
#submenu2 li a:hover{
	background-color:#3c9dd0;
}

#menu2{
	padding:0;
	margin:0 auto 0 auto;
	width:1200px;
}

#menu2 li:hover{
	background-color:#086ca2;
}

.izbrano{
	background-color:#086ca2;
}

#menu2 li a:hover{
	background-color:#086ca2;
}

#menu2 li a {
 display: block; 
 padding: 0 15px;
  color: #fff; 
  text-decoration: none; 
  }
  
#content{
	margin: 0px auto 30px auto;
	width: 1200px;
	//padding: 20px 100px 20px 100px;
	background-color:white;
	//border-left: 1px solid black;
	//border-right: 1px solid black;
	box-shadow: 0px 5px 20px -5px #888;
}

#logo_univerza{
	position:absolute;
    right:0px;
	padding:10px;
}
#noga{
	background-color:#086ca2;
	height: 100px;
}
#tabela{
	border-collapse:collapse;
	width:760px;
}

#tabela td{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding:5px;
	text-align: center;
}
#tabela th{
	background-color: #BFB7D3;
	border-bottom: 2px solid black;
	padding:5px;
}
tr:nth-child(even) {
	background-color: #E0D9EF;
}
tr:nth-child(odd) {
	background-color: white;
}
#naslov{
	width:748px;
	font-size:16px;
	float:left;
	padding:5px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background: #3c9dd0; /* Old browsers */
	color: white;
	border-bottom: 1px solid #888;
	//border-radius: 5px 5px 0 0;
	box-shadow: inset 0 0 5px #bbb;
}
#naslov_short{
    position:relative;
	width:360px;
    white-space:nowrap; 
    overflow:hidden;  
	font-size:16px;
	float:left;
	padding: 5px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background: #3c9dd0; /* Old browsers */
	color: white;
	border-bottom: 1px solid #888;
	//border-radius: 5px 5px 0 0;
	box-shadow: inset 0 0 5px #bbb;
}
#naslov input{

}
#levo {
	float:left;
	width: 200px;
	background-color:#f1f1f1;

}
#desno {
	float:left;
	width: 200px;
}
#vse{
	float:left;
	width: 760px;
	padding: 15px 20px 20px 20px;
}

#oglasna_deska, #novice, #urniki, #osnovno, #zaposlen{
	border:1px solid #888;
	//border-radius: 7px;
	float:left;
	margin-bottom: 10px;
	box-shadow: 0 2px 10px  #888;
}#dodaj_koledar{
	border:1px solid #888;
	//border-radius: 7px;
	float:left;
	margin-bottom: 10px;
	box-shadow: 0 2px 10px  #888;
	margin-top:20px;
}
#ime_naslova{
	float:left;
	margin-top: 4px;
	margin-left: 5px;
}
#ime_naslova_short{
    white-space:nowrap; 
    overflow:hidden;  
	float:left;
    width: 340px;
	margin-top: 4px;
	margin-left: 5px;
}
#isci{
	float:right;
}
.novica{
	background-color: #f9f9f9;
	border: 1px solid #888;
	padding: 7px;
	margin-bottom: 3px;
	border-radius: 6px;
	box-shadow: inset 0 0 10px #bbb;
}
.novica:last-child{
	margin-bottom: 0;
}
#vsi_oglasi,#podatki_osebe{
	float:left;
	padding:10px;
	width:738px;
	background: #ffffff;
}
.plus{
	float:right;
	width:20px;
	height:20px;
    margin-top: -2px;
	background-image: url('../img/plus.png');
}
#change{
    float:left;
}
.plus:hover{
	cursor: pointer;
}
.minus{
	float:right;
	width:20px;
	height:20px;
    margin-top: -2px;
	background-image: url('../img/minus.png');
}
.minus:hover{
	cursor: pointer;
}
.vsebina_oglasna{
	margin-top:5px;
	display:none;
}
.zacetek_novice{
	font-weight: bold;
    
}
.novica ul{
	margin:0;
}
/*slider*/
#featured{ 
	width:500px; 
	padding-right:250px; 
	position:relative; 
	height:250px;
	margin-top:35px;
	background:#fff;
}
#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:0; left:500px; 
	list-style:none; 
	padding:0; margin:0; 
	width:258px; 
}
#featured ul.ui-tabs-nav li{ 
	padding:1px 0; padding-left:13px;  
	font-size:12px; 
	color:#666; 
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:18px; 
}
#featured .ui-tabs-panel{ 
	width:500px; height:250px; 
	background:#999; position:relative;
        overflow:hidden;
}
#featured .ui-tabs-hide{ 
	display:none; 
}
#featured li.ui-tabs-nav-item a{/*On Hover Style*/ 
	display:block; 
	height:60px; 
	color:#333;  background:#fff; 
	line-height:20px;
	outline:none;
}
#featured li.ui-tabs-nav-item a:hover{ 
	background:#f2f2f2; 
}
#featured li.ui-tabs-selected{ /*Selected tab style*/
	background:url('images/selected-item.gif') top left no-repeat;  
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{ 
	background:#ccc; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left; margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
}
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	top:190px; left:0; 
	height:60px; width: 500px;
	background: url('../images/transparent-bg.png'); 
}
#featured .info h2{ 
	font-size:18px; font-family:Georgia, serif; 
	color:#fff; padding:5px; margin:0;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured li.ui-tabs-active{ 
	background:url('../images/selected-item.gif') top left no-repeat;  
}
#featured ul.ui-tabs-nav li.ui-tabs-active a{ 
	background:#ccc; 
}
/*novica*/
div.section div:nth-of-type(even)
{
    color: Green;
}
div.section div:nth-of-type(odd)
{
    color: Red;
}
.short_div:nth-of-type(odd){
    float:left;
    margin: 0 7px 15px 0;
    position:relative;    position:relative;    position:relative;
    width: 370px;
    border: 1px solid #888;
    box-shadow: 0 2px 10px  #888;
}

.short_div:nth-of-type(even){
    float:left;
    margin: 0 0 15px 7px;
    position:relative;    position:relative;    position:relative;
    width: 370px;
    border: 1px solid #888;
    box-shadow: 0 2px 10px  #888;
}
.slika_novice{
    overflow:hidden;
    height:220px;
    float:left;
}
.konec_texta{
    white-space:nowrap; 
    overflow:hidden; 
}
.short_div .info{ 
    position:absolute;
    top:196px;
    left:0;
    color:white;
	height:60px;
    width: 370px;
	background: url('../images/transparent-bg.png'); 
}
.short_div .info div{
    padding: 5px;   
}
#strani{
    text-align:center;
    float:left; 
    margin-top: 5px;
    width: 690px;
}
.st_strani:first-child{
    margin-left:50px;   
}
.st_strani{
    text-decoration: none;
    background-color:blue;
    color:white;
    padding:2px;
    margin-left:5px;   
}
/*PRIJAVA/REGISTRACIJA*/
#novo_okno{
	display:none;
	position:absolute;
	top:100px;
	left:0;
	width:100%;
	height:100%;
	min-width:600px;
}

#opac{
	width:100%;
	height:100%;
	background-color:black;
	position:absolute;
	top:0;
	left:0;
	opacity:0.8;
}

#opravljanje{
	position:relative;
	margin:13% auto 0 auto;

	padding:10px;
	width:390px;
	background-color:#F1F1F1;
}


.zapri{
    background-color:#3c9dd0;
    height: 32px;
    line-height: 30px;
    position: absolute;
	 margin-left:27%;
	 text-decoration:none;
    text-align: center;
    top: -10px;
    width: 32px;
	 
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.zapri:before {
	color: #fff;
    content: "X";
    font-size: 24px;
}

.zapri:hover {
    background-color:#086ca2;
}

#prijava input[type="text"] {
    position:absolute;
    left:33%;
    margin-top:-5%;
    }
    
#prijava input[type="password"] {
    position:absolute;
    left:33%;
    margin-top:-5%;
    }
    
#prijava label{
   display: block;
   margin-top:-2%;
}

    
#registracija input[type="text"] {
    position:absolute;
    left:33%;
    margin-top:-5%;
    }
    
#registracija input[type="password"] {
    position:absolute;
    left:33%;
    margin-top:-5%;
    }
    
#registracija label{
   display: block;
      margin-top:-2%;
}

#potrdi{
	border: 1px solid #3c9dd0;
	background-color:#3c9dd0;
  	color: #fff;
  	padding: 5px 10px;
 /* -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;*/
}

#potrdi:hover {
  border-color:#086ca2;
  background-color:#086ca2;
}
.vpis{
	margin-top:-0.05%;
 	border: 1px solid #3c9dd0;
	background-color:#3c9dd0;
  	color: #fff;
  	padding: 6px 10px;
 /* -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;*/
}

.vpis:hover {
  border-color:#086ca2;
  background-color:#086ca2;
}

#prijavljen{
	text-align: center;
    margin-top:5%;
    background-color: #f1f1f1;
    border:1px solid #888;
    float:left;
    box-shadow: 0 2px 10px  #888;
    width: 190px;
    padding: 0 0 3px 0;
}
/*Urnik*/
#urnik_tabela{
    width:738px;
}
#urnik_div{
    float:left;
	padding:10px;
	width:738px;
	background: #ffffff;    
}
#urnik_noga{
	float:left;
	margin-bottom:10px;
}
#podatki-oglasna{	
	padding: 10px;
	border: 1px solid #d8d8d8;
	background: #fcfcfc;
	margin-bottom: 10px;
}
.message {
 clear: both;
 color: #fff;
 font-size: 140%;
 font-weight: bold;
 margin: 0 0 1em 0;
 padding: 5px;
 
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
 background: #ffcc00;
 background-repeat: repeat-x;
 background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
 background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
 background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
 background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
 background-image: linear-gradient(top, #ffcc00, #E6B800);
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
 border: 1px solid rgba(0, 0, 0, 0.2);
 margin-bottom: 18px;
 padding: 7px 14px;
 color: #404040;
 text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
 -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
 -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
 box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
 clear: both;
 color: #fff;
 background: #c43c35;
 border: 1px solid rgba(0, 0, 0, 0.5);
 background-repeat: repeat-x;
 background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
 background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
 background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
 background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
 background-image: linear-gradient(top, #ee5f5b, #c43c35);
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
/*neka tabela*/
.tabela_urniki {
    table-layout:fixed;
    border-collapse:collapse;
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tabela_urniki table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tabela_urniki tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tabela_urniki table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tabela_urniki table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.tabela_urniki tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.tabela_urniki tr:hover td{
	
}
.tabela_urniki tr:nth-child(odd){ background-color:#aad4ff; }
.tabela_urniki tr:nth-child(even)    { background-color:#ffffff; }.tabela_urniki td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.tabela_urniki tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tabela_urniki tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tabela_urniki tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabela_urniki tr:first-child td{
		background:-o-linear-gradient(bottom, #0076ed 5%, #003f7f 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0076ed), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #0076ed 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0076ed", endColorstr="#003f7f");	background: -o-linear-gradient(top,#0076ed,003f7f);

	background-color:#0076ed;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.tabela_urniki tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0076ed 5%, #003f7f 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0076ed), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #0076ed 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0076ed", endColorstr="#003f7f");	background: -o-linear-gradient(top,#0076ed,003f7f);

	background-color:#0076ed;
}
.tabela_urniki tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tabela_urniki tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
#forma_dodaj{
    width:340px;
    padding: 5px 10px 10px 10px;
    float:left;
}
label{
    line-height:25px;   
}
#forma_dodaj input, #forma_dodaj select{
    margin-bottom: 4px;   
}
.dodaj_input{
    width:345px;
}
.ura_dodaj{
    width:50px;
    float:left;
}
#dan, #vrsta{
    width:270px;   
}
#forma_dodaj label{
    display:block;
    width: 70px;
    float:left;
}
#vse_obv{
    float:left;
    width: 370px;
    height: 230px;
    overflow-y:scroll;
    overflow-x:hidden;
    background-color: #F9F9F9;
}
#vse_obv1{
	float:left;
    width: 350px;
    height: 210px;
    padding:10px;
    overflow-y:scroll;
    overflow-x:hidden;
    background-color: #F9F9F9;
}
.pozamezna_obveznost{
    height: 50px;   
    background-color: #f1f1f1;
    float:float;
    border-bottom: 1px solid #888;
}
.pozamezna_obveznost1{  
    background-color: #f1f1f1;
    float:float;
    border-bottom: 1px solid #888;
    padding: 7px 0 7px 10px;
}
#link_obv{
    margin-left: 10px;  
    margin-bottom: 10px;
}
#poglej_novico{
    width:720px;
    float:left;   
}
#naslov_novice{
    float:left;
    width:720px;
    font-weight:bold;
    font-size: 21px;
}
hr {
    border-color: black;
}
#informacije{
    width: 720px;
    float:left;
}
#vsebina_novice{
    margin: 10px auto 10px auto;
    width: 720px;
    text-align:justify;
    font-size: 14px;
}
#slika_novice{
    width:720px;
    margin: 10px auto 10px auto;
}
#error{
    text-align:center;
    font-size: 70px;
    font-weight:bold;
}

.placeholder 
  {
    background-color:#dbe2f3;
    color:#dbe2f3;
    border: dashed 1px silver;
  } 

#podatki{
    float:left;   
    height:300px;
    padding: 10px;
}
#podatki3{
    float:left;   
    height:270px;
    padding: 10px;
}
#slika_mojp{
    margin-left: 70px;   
}
.podatki_sprememba{
    margin-top: 1px;
    margin-bottom: 1px;
    float:left;   
}
.podatki_nas{
    float:left;
    width:100px;
}
.podatki_inp{
    float:left;
}
.podatki_inp input{
    float:left;
    width:200px;
    margin-right:10px;
}
.podatki_inp1 input{
    float:left;
    width:300px;
}
.podatki_inp select{
    float:left;
    width:200px;
}
.spremeni_nas{
    font-weight: bold;   
    line-height: 25px;
}
#podatki input[type="submit"]{
    width:120px; 
}
#podatki input[type="file"]{
    width:320px;  
    float:left;
}
#link_izvozi{
    margin-left: 10px;  
    margin-bottom: 10px;  
}
#drugenovicelink{
	color:white;
}
#drugenovicelink:active{
	color:white;
}
#drugenovicelink:visited{
	color:white;
}
#vsebina_klepeta{
	width:755px;
	height: 300px;
	border:1px solid #888;
	overflow-y: scroll;
}
#vsebina_poslji{
	width:750px;
	height: 50px;
	resize: none;
	margin-top:15px;
	margin-bottom:10px;
}
#isci_novice input[type='text']{
	width:320px;
	margin-bottom: 10px;
}
#isci_novice select{
	width:200px;
	margin-bottom: 10px;
}
#isci_novice input[type='submit']{
	width:150px;
	margin-bottom: 10px;
}
.pos_dan{
	float:left;
	width:100px;
	height: 100px;
	outline:1px solid black;
	background-color:white;
}
.dogodek{
	background-color:#3c9dd0;
	color:white;
	font-weight: bold;
}
.naslov_dogodka{
	width:100px;
	text-align: center;
	margin-top:10px;
}
.naslov_dogodka a{
	color:white;
	font-weight: bold;
}
.pos_kol{ 
	float:left;
	width:350px;
}
.vsebina_datum{
	float:left;
}
.datum_znak{
	float:left;
	height: 45px;
	width: 34px;
	background: url(../img/icon_date.png) 0 0 no-repeat;
}
.datum_znak{
	color: black;
	line-height: 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,1.0);
	padding-top:6px;
}
.vsebina_koledar{
	float:left;
	width:290px;
	padding: 14px 10px 14px 10px;
	height:30px;
	white-space:nowrap;
	overflow: hidden;
}
.vsebina_koledar a{
	color:black;
}
#mesec{
	font-size: 9px;
	font-weight: normal;
	line-height: 13px;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 0 rgba(255,255,255,1.0);
	text-align: center;
}
#color_picker{
	float: left;
	width: 36px;
	height: 36px;
	background-color: black;
	background-image: url(../images/izberi.png);
	border-radius: 7px;
}
#poslji_klepet{
	width:120px;
	height:37px;
	text-align: center;
	margin-left:10px;
}
#ime_upo{
	margin: 3px 0 3px 0;
	display:block;
}
/*TV SPORED*/
#tv-spored, #iskanje-oddaje{ 
	border-collapse: collapse;
}

#tv-spored tr td{ 
	padding-left: 5px;
	padding-right: 5px;
}

#tv-spored tr td:first-child{
	background-color: #3c9dd0;
}

#tv-spored tr:hover{
	background-color: #3c9dd0;
}

#opis-oddaje{ 
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: -1px;
}

#iskanje-oddaje{
  border: 2px solid  #3c9dd0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 10px gray;

}

#iskanje-oddaje tr td{
  background: white;
  padding: 10px;
}

/*TV SPORED*/

/*PLUGIN TV SPORED */
#program-logo{
	float: left;
	margin-right: 10px;
}

#dve-oddaje{
	float: right;
	width:280px;
}

#podatki-tv-spored{ 
    display: table;
    width:330px;
    padding: 12px;
    border-bottom: 1px solid gray;
}
/*PLUGIN TV SPORED */
/* service  */
#formi{				
	border: 10px solid #086CA2;
	color: #FFFFFF;
	padding:10px;
    
    width: 725px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;
    background-color:#3C9DD0;
}

#formi2{
	border: 10px solid #086CA2;
	color: #FFFFFF;
	padding:10px;
    width: 725px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;
    background-color:#3C9DD0;
}

#polje2 a{
	float:left;
   	width:5em;
    text-align:left;
}

#polje2 span{
	display: block;
    text-align:justify;
}
/*  service   */
/* iskanje ogled_users  */
#panel
{
padding:10px;
display:none;
}
/*  iskanje  */

/*  formi  */
.polje{
    width:30em;
    padding:0px;
}

.polje label{
	display:block;
    float:left;
   	width:8em;
    text-align:left;
}
/*  formi  */

/* tabela (ogled_users,sodelujoci)  */
.sortable{
	background-color:#3C9DD0;
	margin:1%;
	width:730px;
}

.sortable th{
	padding:10px;
	background-color:#3C9DD0;
	color:#FFFFFF;
	height:1px;
	border-bottom:1px solid #3C9DD0;
}
.sortable tr,td{
	background-color:#FFFFFF;
}

.sortable tr:hover td{
	background-color: #BFB7D3;
}
/* tabela  */

#vsebina_urejanje_novic{
    width:60%;
    height:auto;
    float:right;
    margin-right:3%;
    text-align:justify;
}

#brisi_novico{
    margin-left:2%;
}

#poisci{
   border: 1px solid #3c9dd0;
   background-color:#3c9dd0;
   color: #fff;
   margin-left:3%;
   font-size:14px;
   padding: 5px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-weight:600;
}

#poisci:hover {
  border-color:#086ca2;
  background-color:#086ca2;
}

#oglasi{
   font-size:22px;
   font-weight:bold;
   color:#3c9dd0;
}
#oglasi1{
   padding-top:1%;
   padding-left:2%;
   font-size:22px;
   font-weight:bold;
   color:#3c9dd0;
}

#oglasi2_besedilo
{
   padding-left:1%;
}
#oglasi2{
   padding-left:1%;
   font-size:17px;
   font-weight:bold;
   color:#3c9dd0;
}

#forma_oglasi{
    border: 1px solid #3c9dd0;
    margin-left:15px ;
    background:url('../img/oglasi_ozadje.jpg');
    background-size:740px 150px;
    background-repeat:no-repeat;
    height: 150px;
    margin-top:10px;
    width:740px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    border-radius: 22px;
}

#select5{
    width: 200px;
    margin-left:3%;
    //background: rgba(8,108,162,0.3);
}

#select1{
    width: 200px;
    margin-left:3%;
    margin-top:3%;
    //background: rgba(8,108,162,0.3);
}

#okvir{
    margin-left:2%;
}

.oglasi_naslov{
    width:99%;
    font-size:16px;
    float:left;
    padding:5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: #3c9dd0; /* Old browsers */
    border-bottom: 1px solid #888;
    text-decoration:none;
}

#datum{
    position:absolute;
    left:65%;
}

a.oglasi_naslov{
    color:white;
}

.oglasi_naslov:hover{
     background: #086ca2;
}

#opravljanje1{
    position:relative;
    margin:15% auto 0 auto;
    height:200px;
    padding:10px;
    width:30%;
    background-color:#F1F1F1;
}

.zapri1{
    background-color:#3c9dd0;
    height: 32px;
    line-height: 30px;
    position: absolute;
    margin-left:76%;
    text-decoration:none;
    text-align: center;
    top: -10px;
    width: 32px;
     
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.zapri1:before {
    color: #fff;
    content: "X";
    font-size: 24px;
}

.zapri1:hover {
    background-color:#086ca2;
}

#cssmenu {
    margin: 0;
    padding: 0;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
#cssmenu{
    width: 200px;
}
#cssmenu ul{
    margin-top:9.5%;
    list-style: none;
    text-indent: 0px;
}
#cssmenu li{
    margin-top: 0px;
}
#cssmenu a{
    border-bottom: 1px solid silver;
    margin-left:-40px;
    font: 13px Verdana;
    padding: 4px;
    color: #646464;
    display:block;
    padding: 6px 20px;
    text-decoration: none;
    background-color:rgb(240,240,240);
    background: url('../images/background.gif');
}
#cssmenu a:hover{
    background: url('images/highlight.gif') no-repeat right;
    background-color:rgb(240,240,240);
    padding: 6px 40px;
}
.zunanja_povezava{
	width: 192px;
	margin-top:10px;
	float:left;
}
#sara:hover{
	cursor: pointer;
}
#leva_stran{
	width:360px;
	float:left;	
}
#desna_stran{
	width:360px;
	float:left;	
}
#spodna_stran{
	width:700px;
	float:left;	
}
/* NOVICE */
#slika-novice{
	float: left;
}

#podatki-novica{ 
	float: right;
	width: 440px;
	padding: 10px;
	border: 1px solid #d8d8d8;
	background: #fcfcfc;
	position: absolute;
	overflow: visible;
	top: 10px;
	bottom: 10px;
	right: 10px;
}

#podatki-novice{ 
	float:left;
	padding:10px;
	width:738px;
	background: #ffffff;
	position: relative;
}

#novica{ 
	border:1px solid #888;
	float:left;
	margin-bottom: 10px;
	box-shadow: 0 2px 10px  #888;
}

.uredi-izbrisi{ 
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* NOVICE */
 #dogodki_form{
  	float:left;
	width:1200px;
	background: #ffffff;
}

#forum_index{
	font-size:16px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background: #086ca2; 
	color: white;
	border-bottom: 1px solid #E5E5E5;
    height:35px;
    width:1200px;
    text-align:left;
    vertical-align:middle;
    position:relative;
    display:block;
    text-decoration:none;

}
#forum_index ul{
 list-style-type:none;
margin:0;
padding:0;   
text-decoration:none;
       vertical-align:middle;
    position:relative;
}
#forum_index li{
float:left;
    
    text-decoration:none;
}
#forum_index a{
    vertical-align:middle;
    position:relative;
    	font-size:16px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background: #086ca2; 
	color: white;
    margin-left:5px;
 display:block;
width:350px;   
text-decoration:none;
}



#forum_kategorije{
background: rgb(122,188,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 */
text-align: left;
    vertical-align:middle;
 
    height:30px;
    width:760px;
    border-bottom:1px solid #E5E5E5;
}
#forum_kategorije a {
    color: #FFFFFF;
    text-decoration: none;
}

#forum_teme{
    vertical-align:middle;
    text-align:center;
}
#forum_prispevki{
    vertical-align:top;
 text-align:right;
}
#tabela_forum{
    font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size:12px;width:760px;
    text-align:left;
    border-collapse:collapse;
}

#tabela_forum th{
    font-weight:normal;
    font-size:13px;color:#039;
    background:#b9c9fe;
    padding:8px;}
#tabela_forum td{
	word-wrap:break-word;
    background:#e8edff;
    border-top:1px solid #fff;
    color:#669;
    padding:8px;  
}
#tabela_forum tbody tr:hover td{
    background:#d0dafd;
}
#tabela_forum a{
    text-decoration:none;
     font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size:12px;
    text-align:left;
    color:inherit;
}
#tabela_forum a:hover{
    color:#a3c5de;
}
#naslov_dogodki{
	width:760px;
	font-size:16px;
	float:left;
	padding-top:5px;
    padding-bottom:5px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background: #3c9dd0; /* Old browsers */
	color: white;
	border-bottom: 1px solid #888;
    border-top:1px solid black;
	//border-radius: 5px 5px 0 0;
	box-shadow: inset 0 0 5px #bbb;
}
/***/
.pos_pris{
	width:740px;
	float:left;
	margin-top:1px;
	border-left:1px solid #888;
	background: #fcfcfc;
	border-right:1px solid #888;
	border-bottom: 1px solid #888;
}
.pos_pris1{
	width:740px;
	float:left;
	border-left:1px solid #888;
	background: #fcfcfc;
	border-right:1px solid #888;
	border-top:1px solid #888;
	border-bottom: 1px solid #888;
}
.info_up{
	width:120px;
	float:left;
}
.slika_up{
	margin:5px;
}
.up_ime{
	float:left;
	text-align: center;
	width:120px;
	margin-bottom: 5px;
}
.vsebina_for{
	float:left;
	width:610px;
	min-height:150px;
	border-left: 1px solid #888;
}
.datum_for{
	margin:5px 0 0 5px;
	float:left;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size:11px; 
}
.ocen_for{
	margin:5px 5px 0 5px;
	float:right;
}
.vseb_for{
	border-top: 1px solid #aaa;
	float:left;
	width:605px;
	word-wrap: break-word;
	margin: 0 5px 5px 5px;
	padding-left:5px;
}
.thumbs{
	float:left;
	margin-left:5px;
}
.dajminus{
	float:left;
	margin-left:5px;
}
.dajminus:hover{
	cursor: pointer;
}
.dajplus:hover{
	cursor: pointer;
}
.dajplus{
	float:left;
	margin-left:5px;
}
#naslov_teme {
	float:left;
	margin:5px 0 5px 0;
	font-size: 22px;
	font-weight: bold;
}
#navigacija_forum{
	float:left;
	width:760px;
}
#noga_forum{
	float:left;
	width:730px;
	margin-top:10px;
}
#meni_naslov{
    color:black;
    font-size:15px;
    padding-top:3%;
    padding-bottom:3%;
    font-weight:bolder;
}
#vse_novice {
	float:left;
}
#iskanje_novic{
	width:600px;
	float:right;
	margin: 0 0 10px 10px;
}
#vsebina{

}

#slika_informacije{

}

#podatki_informacije{
   
}
