body,html{
margin:0;
padding:0;
}
.spinner {
  margin: 50px auto;
  width: 100px;
  height: 100px;
  position: relative;
}
#helper{
	z-index: 10;
  position: relative;
  padding: 20px;
  text-transform: uppercase;
  width:450px;
  text-align: center;
  margin: 40px auto 0 auto;
  color: white;
  
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-weight: bold;
}
.ozadje-helper{
  background-image: -webkit-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -moz-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -o-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -ms-linear-gradient(top, #00a2d3, #0d7796);
  background-image: linear-gradient(top, #00a2d3, #0d7796);
}
.cube1, .cube2 {
  background-color: white;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(60px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(60px) translateY(60px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(60px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(100px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(100px) rotate(-90deg) scale(0.5);
  } 50% {
    /* Hack to make FF rotate in the right direction */
    transform: translateX(100px) translateY(100px) rotate(-179deg);
    -webkit-transform: translateX(100px) translateY(100px) rotate(-179deg);
  } 50.1% {
    transform: translateX(100px) translateY(100px) rotate(-1100deg);
    -webkit-transform: translateX(100px) translateY(100px) rotate(-1100deg);
  } 75% {
    transform: translateX(0px) translateY(100px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(100px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
iframe {
border: none;
}
#klepet{
position: absolute;
top: 0px;
right: 0px;
width: 200px;
background-color: #dbdbdb;
height: 100%;
}
#chat-room{
background-color: white;
overflow-y: scroll;
max-height: 75%;
min-height: 75%;
width:170px;
padding: 5px;
margin:10px 10px 0 10px;
}
#loader {
font-weight: bold;
font-size: 80px;
height: 100%; width: 100%;
position: absolute; left: 0; top: 0; 
z-index: 1000;
margin: 0;
color: white;
background-image: -webkit-linear-gradient(top, #00a2d3, #0d7796);
background-image: -moz-linear-gradient(top, #00a2d3, #0d7796);
background-image: -o-linear-gradient(top, #00a2d3, #0d7796);
background-image: -ms-linear-gradient(top, #00a2d3, #0d7796);
background-image: linear-gradient(top, #00a2d3, #0d7796);
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
#loader_napis{
	margin-top:15%;
	width:100%;
	text-align: center;
}
#loader_napis div{
	margin-bottom:10px;
}
#instructions{
border: 1px solid #666;
padding:20px;
background-color: green;
z-index:2;
color: white;
background-image: -webkit-linear-gradient(top, #00a2d3, #0d7796);
background-image: -moz-linear-gradient(top, #00a2d3, #0d7796);
background-image: -o-linear-gradient(top, #00a2d3, #0d7796);
background-image: -ms-linear-gradient(top, #00a2d3, #0d7796);
background-image: linear-gradient(top, #00a2d3, #0d7796);
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
//position: relative;
width:550px;
//margin: 200px auto 0 auto;
position: absolute;
top: 0;
left:0;
text-align: center;
font-weight: bold;
}
#test{
position: absolute;
top:0;
left: 0;
z-index: 3;
}
#novo_okno{
display:none;
position:absolute;
top:100px;
left:0;
width:100%;
height:100%;
min-width:600px;
z-index: 4;
}

#opac{
width:100%;
height:100%;
background-color:black;
position:absolute;
top:0;
left:0;
opacity:0.8;
z-index: 4;
}

#opravljanje{
position:relative;
margin:13% auto 0 auto;
z-index: 4;
padding:10px;
width:390px;
background-color:#F1F1F1;
}


.zapri{
background-color:#3c9dd0;
height: 32px;
line-height: 30px;
position: absolute;
margin-left:27%;
text-decoration:none;
text-align: center;
top: -10px;
width: 32px;

-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
}

.zapri:before {
color: #fff;
content: "X";
font-size: 24px;
}

.zapri:hover {
background-color:#086ca2;
}

#prijava input[type="text"] {
position:absolute;
left:33%;
margin-top:-5%;
}

#prijava input[type="password"] {
position:absolute;
left:33%;
margin-top:-5%;
}

#prijava label{
display: block;
margin-top:-2%;
}


#registracija input[type="text"] {
position:absolute;
left:33%;
margin-top:-5%;
}

#registracija input[type="password"] {
position:absolute;
left:33%;
margin-top:-5%;
}

#registracija label{
display: block;
margin-top:-2%;
}

#potrdi, #prijava_b{
border: 1px solid #3c9dd0;
background-color:#3c9dd0;
color: #fff;
padding: 5px 10px;
cursor: pointer;
/* -webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;*/
}

#potrdi:hover #prijava_b:hover{
border-color:#086ca2;
background-color:#086ca2;
}
.vpis{
margin-top:-0.05%;
border: 1px solid #3c9dd0;
background-color:#3c9dd0;
color: #fff;
padding: 6px 10px;
cursor: pointer;
/* -webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;*/
}

.vpis:hover {
border-color:#086ca2;
background-color:#086ca2;
}

#prijavljen{
text-align: center;
margin-top:5%;
background-color: #f1f1f1;
border:1px solid #888;
float:left;
box-shadow: 0 2px 10px  #888;
width: 190px;
padding: 0 0 3px 0;
}
#opravljanje1{
position:relative;
margin:15% auto 0 auto;
height:200px;
padding:10px;
width:30%;
background-color:#F1F1F1;
}

.zapri1{
background-color:#3c9dd0;
height: 32px;
line-height: 30px;
position: absolute;
margin-left:76%;
text-decoration:none;
text-align: center;
top: -10px;
width: 32px;

-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
}

.zapri1:before {
color: #fff;
content: "X";
font-size: 24px;
}

.zapri1:hover {
background-color:#086ca2;
}