<h2>Osebje</h2>
<?php echo $this -> Html -> script('jquery-1.9.1.min');
	echo $this -> Html -> script('test');
?>
<form method="get">
	<table>
		<tr>
			<td><b>Iskanje po:</b></td>
			<td>
			<select name="iskanje-po">
				<?php
				if (isset($this -> request -> query['iskanje-po'])) {
					$iskanjePo = $this -> request -> query['iskanje-po'];
					if ($iskanjePo == 'Ime') {
						echo '<option selected="selected">Ime</option>';
						echo '<option>Kabinet</option>';
					} else if ($iskanjePo == 'Kabinet') {
						echo '<option>Ime</option>';
						echo '<option selected="selected">Kabinet</option>';
					}
				} else {
					echo '<option selected="selected">Ime</option>';
					echo '<option>Kabinet</option>';
				}
				?>
			</select></td>
		</tr>
		<tr>
			<td></td>
			<td>
			<input type="text" name="iskanje-opis" class="iskanje"/>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
			<input type="submit" name="poisci" value="Išči"/>
			</td>
		</tr>
	</table>
</form>
<div class="zadetki"></div>

<?php
if (isset($this -> request -> query['iskanje-opis'])) {
	$iskaniNiz = strtoupper($this -> request -> query['iskanje-opis']);
	$najden = 0;

	switch($iskanjePo) {
		case 'Ime' :
			$pogoj = 'Ime';
			break;

		case 'Kabinet' :
			$pogoj = 'Kabinet';
			break;
	}

	foreach ($lol as $oseba) {
		if ($oseba[$pogoj] == $iskaniNiz) {
			$najden++;
			echo $oseba['HabilitacijskiNazivKratki'] . " " . $oseba['AkademskiNaziv'] . " <b>" . $oseba['Ime'] . " " . $oseba['Priimek'] . "</b>, " . $oseba['SkrajsaniPoklic'] . "</br>";
			echo '<b>Predmeti:</b><br />';
			foreach ($oseba['Predmeti'] as $predmeti) {
				echo $predmeti['Naziv'] . "</br>";

			}
		}
	}
	echo 'Število zadetkov: ' . $najden;
	if ($najden == 0) {
		echo 'Ni zadetkov!';
	}
}
//echo $lol;
?>
