<!--
		<h2>Vsi uporabniki</h2> 

<?php echo $this->html->link("Dodaj uporabnika",array('controller'=>'users', 'action' => 'dodaj'), array('escape' => false))." ";
		
?>	
<table>
	<tr>
		<th>Možnost</th>
		<th>ID</th>
		<th>Up_ime</th>
		<th>Geslo</th>
		<th>User ID</th>
		<th>Datum rojstva</th>
		<th>Ime</th>
		<th>Priimek</th>
		<th>Email</th>
		<th>Država</th>
		<th>Mesto</th>
		<th>Predmeti</th>
		<th>Prvi_dostop</th>
		<th>Zadnji_dostop</th>
		<th>Vloga</th>
		<th>Slika</th>
	</tr>
	<?php 
	$i=0;
	foreach ($user as $users) {
			
	?>
	<tr>
		<?php $picture = $this->Html->image('Server/Special/uredi.png');?>
		<td><?php 
			echo $this->html->link($this->html->image("Server/Special/dodaj.png"), array('controller'=>'users', 'action' => 'dodaj'), array('escape' => false))." ";
			echo $this->html->link($this->html->image("Server/Special/uredi.png"), array('controller'=>'users', 'action' => 'uredi',$user[$i]['users']['id']), array('escape' => false))." ";
			echo $this->html->link($this->html->image("Server/Special/brisi.png"), array('controller'=>'users', 'action' => 'brisi',$user[$i]['users']['id']), array('escape' => false,'confirm' => 'Ali res želite izbrisati uporabnika?'))." ";
			
			?>
		</td>
		<td><?php echo $user[$i]['users']['id']; ?></td>
		<td><?php echo $user[$i]['users']['Up_ime']; ?></td>
		<td><?php echo $user[$i]['users']['Geslo']; ?></td>
		<td><?php echo $user[$i]['users']['User_ID']; ?></td>
		<td><?php echo $user[$i]['users']['Datum_rojstva']; ?></td>
		<td><?php echo $user[$i]['users']['Ime']; ?></td>
		<td><?php echo $user[$i]['users']['Priimek']; ?></td>
		<td><?php echo $user[$i]['users']['Email']; ?></td>
		<td><?php echo $user[$i]['users']['Drzava']; ?></td>
		<td><?php echo $user[$i]['users']['Mesto']; ?></td>
		<td><?php echo $user[$i]['users']['Predmeti']; ?></td>
		<td><?php echo $user[$i]['users']['Prvi_dostop']; ?></td>
		<td><?php echo $user[$i]['users']['Zadnji_dostop']; ?></td>
		<td><?php echo $user[$i]['users']['Vloga']; ?></td>
		<td><?php echo $this->Html->image($user[$i]['users']['Mapa']."/".$user[$i]['users']['Pot'],array('alt'=>'profilna_slika','height'=>'50','width'=>'25'));?></td>
	</tr>
	<?php
	$i++;
	}
	?>
		
</table>
<?php

echo date('Y-m-d H:i:s');
$cas = time('HH:mm:ss');
?>
-->
