<div id='levo'>
<div id="cssmenu">
  <ul>
      <li id='neki'><a href="/feri/novice/dodajnovico">Dodaj novico</a></li>
      <li id='neki'><a href="/feri/novice/uredi">Uredi novice</a></li>
      <li id='neki'><a href="/feri/oglasna/dodajoglasno">Dodaj prispevek na oglasno desko</a></li>
      <li id='neki'><a href="/feri/oglasna/uredi">Uredi oglasno desko</a></li>
      <li id='neki'><a href="/feri/album/dodaj_album">Dodaj album slik</a></li>
      <li id='neki'><a href="/feri/slike/dodaj_slike">Dodaj slike v album</a></li>
      <li id='neki'><a href="/feri/Album/index">Seznam albumov</a></li>
      <li id='neki'><a href="/feri/Slike/index">Uredi slike po albumu</a></li>
  </ul>
 </div> 
</div>
<div id='vse'>
	<h2>Vsi uporabniki</h2> 
	<?php echo $this->html->link("Dodaj uporabnika",array('controller'=>'users', 'action' => 'dodaj'), array('escape' => false))." ";
	echo "<br />";
	echo $this->html->link("Moj profil",array('controller'=>'users', 'action' => 'ogled',$podatek[0]['users']['ID']), array('escape' => false))." ";
	echo "<br />";
	?>	
	
	<?php
		echo $this->Html->script('jquery-1.8.2');
  		echo $this->Html->script('jquery-ui-1.9.0.custom.min');
		echo $this->Html->script('sorttable.js');
		echo $this->fetch('script');
		echo "<br />";
		
		echo "<center>
			<form method='POST' name='formIsci' action=''>
			<input type='radio' name='isci' value='Ime' checked=true>Po imenu 
			<input type='radio' name='isci' value='Priimek'>Po priimku 
			<input type='radio' name='isci' value='Vpisna'>Po vpisni  
			<input type='radio' name='isci' value='Uporabnisko'>Po uporabniškem 
			<input type='radio' name='isci' value='Tip'>Po tipu  
			<input type='text' name='search' placeholder='Iskanje'>	
			<input type='submit' value='Iskanje' name='potrdi'/>
			</form>	</center>	
		";
		
	?>
	
	
	<br />
	
	<table class="sortable">
		<tr>
			<th>Opcije</th>
			<th>ID</th>
			<th>Uporabniško ime</th>
			<th>Tip</th>
			<th>Datum rojstva</th>
			<th>Ime</th>
			<th>Priimek</th>
			<th>Email</th>
            <th>Vpisna</th>
			<!--<th>Predmeti</th>
			<th>Država</th>
			<th>Mesto</th>
			<th>Prvi dostop</th>
			<th>Zadnji dostop</th>
			<th>Slika</th>-->
		</tr>
        
		<?php 
		$i=0;
		foreach ($user as $users) {
				
		?>
		<tr>
			<?php $picture = $this->Html->image('Server/Special/uredi.png');?>
			<td><?php 
				//echo $this->html->link($this->html->image("Server/Special/dodaj.png"), array('controller'=>'users', 'action' => 'dodaj'), array('escape' => false))." ";
				echo $this->html->link($this->html->image("Server/Special/uredi.png"), array('controller'=>'users', 'action' => 'uredi',$user[$i]['users']['ID']), array('escape' => false))." ";
				echo $this->html->link($this->html->image("Server/Special/brisi.png"), array('controller'=>'users', 'action' => 'brisi',$user[$i]['users']['ID']), array('escape' => false,'confirm' => 'Ali res želite izbrisati uporabnika?'))." ";
				
				?>
			</td>
			<td><?php echo $user[$i]['users']['ID']; ?></td>
			<td><?php echo $user[$i]['users']['Uporabnisko']; ?></td>
			<td><?php echo $user[$i]['users']['Tip']; ?></td>
			<td><?php echo $user[$i]['users']['Datum_rojstva']; ?></td>
			<td><?php echo $user[$i]['users']['Ime']; ?></td>
			<td><?php echo $user[$i]['users']['Priimek']; ?></td>
			<td><?php echo $user[$i]['users']['Mail']; ?></td>
            <td><?php echo $user[$i]['users']['Vpisna']; ?></td>
			<!--<td><?php echo $user[$i]['users']['Predmeti']; ?></td>
			<td><?php echo $user[$i]['users']['Prvi_dostop']; ?></td> 
			<td><?php echo $user[$i]['users']['Drzava']; ?></td>
			<td><?php echo $user[$i]['users']['Mesto']; ?></td>
			<td><?php echo $user[$i]['users']['Zadnji_dostop']; ?></td> -->
			<!--<td><?php echo $this->Html->image($user[$i]['users']['Mapa']."/".$user[$i]['users']['Pot'],array('alt'=>'profilna_slika','height'=>'50','width'=>'25'));?></td> -->
		</tr>
		<?php
		$i++;
		}
		
		?>
			
	</table>
	<?php
	
	$stevilo = 1;
	if(!empty($stevila[0][0]['stevilo'])){
		$stevilo = $stevila[0][0]['stevilo'];    
	}   
	
    $strani = ceil($stevilo / 10);  	//zaokrožimo navzgor
    echo "<center>";


	//echo "<a class='st_strani' href='/feri/users/ogled_users/".(1)."' >".'Prejšnje'."</a>";
				
    for($j = 0; $j < $strani; $j++){
		echo "<a class='st_strani' href='/feri/users/ogled_users/".($j+1)."' >".($j+1)."</a>"; 	
    }
	//echo "<a class='st_strani' href='/feri/users/ogled_users/".(2)."' >".'Naslednje'."</a>";
    echo "</center>";
	echo "<br />";
	 

?>





<!--
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>FERI</title>
  <link href="C:/wamp/www/Projekt/cakephp/app/webroot/css/stil.css" type="text/css" rel="stylesheet" title="default" />

</head>
  <body>
	<div id="glava">
		<img id="logo_feri" src="C:/wamp/www/Projekt/cakephp/app/webroot/img/logo_feri.png"/>
	</div>
	<div id="menu">
<ul id="menu2">
    <li><a href="#noga">Domov</a></li>
    <li><a href="#">Informacije za študente</a></li>
    <li><a href="#">Informacije za dijake</a></li>
	<li><a href="#">Prijava</a></li>
</ul>
	</div>
	<div id="content">
	<form action="">
	  	Ime: <input disabled type="text" name="ime" value="<?php echo $user['User']['Ime']; ?>"><br>
	  	Priimek: <input disabled type="text" name="priimek" value="<?php echo $user['User']['Priimek']; ?>"><br>
	  	E-mail: <input type="email" name="email" value="<?php echo $user['User']['Email']; ?>"><br>
	  	Država: <input type="text" name="drzava" value="<?php echo $user['User']['Drzava']; ?>"><br>
	  	Mesto/kraj: <input type="text" name="mesto" value="<?php echo $user['User']['Mesto']; ?>"><br>
	  	Predmeti: <input type="text" name="predmeti" value="<?php echo $user['User']['Predmeti']; ?>"><br>
	  	Prvi dostop: <input type="text" name="pdostop" value="<?php echo $user['User']['Prvi_dostop']; ?>"><br>
	  	Zadnji dostop: <input type="text" name="zdostop" value="<?php echo $user['User']['Zadnji_dostop']; ?>"><br>
	  	Vloga: <input type="text" name="vloga" value="<?php echo $user['User']['Vloga']; ?>"><br>
	  <input type="submit" value="Shrani">
</form>
	</div>
	<div id="noga">
		<img id="logo_univerza" src="C:/wamp/www/Projekt/cakephp/app/webroot/img/logo_univerza.png"/>
	</div>
  </body>
</html>
-->
</div>