<div id='levo'>
<div id="cssmenu">
  <ul>
      <li id='neki'><a href="/feri/Oglasi">Iskanje zaposlitve</a></li>
   <li id='neki'><a href="/feri/informacije/Predstavitev_splosne_informacije">Predstavitev in splošne informacije</a></li>
   <li id='neki'><a href="/feri/informacije/Informacije_za_studente">Informacije za študente</a></li>
   <li id='neki'><a href="/feri/informacije/Studijski_programi">Študijski programi</a></li>
   <li id='neki'><a href="/feri/informacije/Izredni_studij">Izredni študij</a></li>
   <li id='neki'><a href="/feri/informacije/Podiplomski_studij">Podiplomski študij</a></li>
   <li id='neki'><a href="/feri/informacije/Obladovanje_kakovosti">Obvladovanje kakovosti</a></li>
   <li id='neki'><a href="/feri/informacije/Raziskovalna_dejavnost">Raziskovalna dejavnost</a></li>
   <li id='neki'><a href="http://www.ktfmb.uni-mb.si/" target="_blank">Knjižnica tehniških fakultet</a></li>
   <li id='neki'><a href="/feri/informacije/Javna_narocila">Javna naročila</a></li>
   <li id='neki'><a href="http://alumni.feri.uni-mb.si/" target="_blank">Alumni</a></li>
   <div id="meni_naslov">Inštituti</div>
   <li id='neki'><a href="http://www.au.feri.uni-mb.si/">Inštitut za avtomatiko</a></li>
   <li id='neki'><a href="http://ietk.feri.um.si/" target="_blank">Inštitut za elektroniko in telekomunikacije</a></li>
   <li id='neki'><a href="http://ii.uni-mb.si/">Inštitut za informatiko</a></li>
   <li id='neki'><a href="http://www.pe.feri.uni-mb.si/podrocje.aspx" target="_blank">Inštitut za močnostno elektroniko</a></li>
   <li id='neki'><a href="http://www.cs.feri.uni-mb.si/podrocje.aspx" target="_blank">Inštitut za računalništvo</a></li>
   <li id='neki'><a href="http://www.ro.feri.uni-mb.si/portal/index.php" target="_blank">Inštitut za robotiko</a></li>
   <li id='neki'><a href="http://www.mp.feri.uni-mb.si/" target="_blank">Inštitut za matematiko in fiziko</a></li>
   <li id='neki'><a href="http://medijske.uni-mb.si/" target="_blank">Inštitut za medijske komunikacije</a></li>
   <div id="meni_naslov">Vprašaj Saro</div>
  </ul>
 </div> 
	
	<div id='sara'>
		<?php echo $this->Html->image('sara.jpg',array('width'=>"200px",'title'=>'Vprašaj Saro!','id'=>'sara')); ?>
	</div>
</div>
<div id='vse'>

		<div class='prva_stran' id='novice'>
		<div id='naslov'><div id='ime_naslova'>Sodelujoči</div></div>
		<div id='vsi_oglasi'>
	<?php
		echo $this->Html->script('sorttable.js');
		echo $this->fetch('script');
	?>
	

	<center>
	<table class="sortable">
		<tr>
			<th>Slika uporabnika</th>
			<th>Ime in priimek</th>
			<th>Mesto</th>
			<th>Država</th>
			<th>Zadnji dostop</th>
		</tr>
        
		<?php 		
		$i=0;
		foreach ($user as $users) {
				
		?>
		<tr>
			<td><?php echo $this->Html->image('Server/'.$user[$i]['users']['Uporabnisko']."/".$user[$i]['users']['Slika'],array('alt'=>'','width'=>'50'));?></td>
			<td><?php echo $this->Html->link($user[$i]['users']['Ime'] . " " . $user[$i]['users']['Priimek'],array('action'=>'ogled_sodelujocih',$user[$i]['users']['ID'])); //echo "<a href='/feri/users/ogled/'".$user[$i]['users']['ID']." >".$user[$i]['users']['Ime'] . " " . $user[$i]['users']['Priimek'] . "</a>"; ?></td>
			<td><?php echo $user[$i]['users']['Mesto']; ?></td>
			<td><?php echo $user[$i]['users']['Drzava']; ?></td>
			<td><?php echo $user[$i]['users']['Zadnji_dostop']; ?></td>
			<!--<td><?php echo $this->Html->image($user[$i]['users']['Mapa']."/".$user[$i]['users']['Pot'],array('alt'=>'profilna_slika','height'=>'50','width'=>'25'));?></td> -->
		</tr>
		<?php
		$i++;
		}
		   
		?>
			
	</table>
	<?php
	
	$stevilo = 1;
	if(!empty($stevila[0][0]['stevilo'])){
		$stevilo = $stevila[0][0]['stevilo'];  
	}
    $strani = ceil($stevilo / 10);  	
    echo "<center>";


	//echo "<a class='st_strani' href='/feri/users/ogled_users/".(1)."' >".'Prejšnje'."</a>";
				
    for($j = 0; $j < $strani; $j++){
		echo "<a class='st_strani' href='/feri/users/sodelujoci/".($j+1)."' >".($j+1)."</a>"; 	
    }
	//echo "<a class='st_strani' href='/feri/users/ogled_users/".(2)."' >".'Naslednje'."</a>";
    echo "</center>";
	echo "<br />";
	?> </center> <?php

	 

?>
</div>
</div>
</div>