<div id='levo'>
<div id="cssmenu">
  <ul>
      <li id='neki'><a href="/feri/Oglasi">Iskanje zaposlitve</a></li>
   <li id='neki'><a href="/feri/informacije/Predstavitev_splosne_informacije">Predstavitev in splošne informacije</a></li>
   <li id='neki'><a href="/feri/informacije/Informacije_za_studente">Informacije za študente</a></li>
   <li id='neki'><a href="/feri/informacije/Studijski_programi">Študijski programi</a></li>
   <li id='neki'><a href="/feri/informacije/Izredni_studij">Izredni študij</a></li>
   <li id='neki'><a href="/feri/informacije/Podiplomski_studij">Podiplomski študij</a></li>
   <li id='neki'><a href="/feri/informacije/Obladovanje_kakovosti">Obvladovanje kakovosti</a></li>
   <li id='neki'><a href="/feri/informacije/Raziskovalna_dejavnost">Raziskovalna dejavnost</a></li>
   <li id='neki'><a href="http://www.ktfmb.uni-mb.si/" target="_blank">Knjižnica tehniških fakultet</a></li>
   <li id='neki'><a href="/feri/informacije/Javna_narocila">Javna naročila</a></li>
   <li id='neki'><a href="http://alumni.feri.uni-mb.si/" target="_blank">Alumni</a></li>
   <div id="meni_naslov">Inštituti</div>
   <li id='neki'><a href="http://www.au.feri.uni-mb.si/">Inštitut za avtomatiko</a></li>
   <li id='neki'><a href="http://ietk.feri.um.si/" target="_blank">Inštitut za elektroniko in telekomunikacije</a></li>
   <li id='neki'><a href="http://ii.uni-mb.si/">Inštitut za informatiko</a></li>
   <li id='neki'><a href="http://www.pe.feri.uni-mb.si/podrocje.aspx" target="_blank">Inštitut za močnostno elektroniko</a></li>
   <li id='neki'><a href="http://www.cs.feri.uni-mb.si/podrocje.aspx" target="_blank">Inštitut za računalništvo</a></li>
   <li id='neki'><a href="http://www.ro.feri.uni-mb.si/portal/index.php" target="_blank">Inštitut za robotiko</a></li>
   <li id='neki'><a href="http://www.mp.feri.uni-mb.si/" target="_blank">Inštitut za matematiko in fiziko</a></li>
   <li id='neki'><a href="http://medijske.uni-mb.si/" target="_blank">Inštitut za medijske komunikacije</a></li>
   <div id="meni_naslov">Vprašaj Saro</div>
  </ul>
 </div> 
	
	<div id='sara'>
		<?php echo $this->Html->image('sara.jpg',array('width'=>"200px",'title'=>'Vprašaj Saro!','id'=>'sara')); ?>
	</div>
</div>
<div id='vse'>
		<div class='prva_stran' id='novice'>
		<div id='naslov'><div id='ime_naslova'>Ogled profila: <?php echo $user[0]['users']['Ime']. " ". $user[0]['users']['Priimek']; ?></div></div>
		<div id='vsi_oglasi'>
			<?php echo "<b>E-mail:</b> <a id='mail' href='mailto:".$user[0]['users']['Mail']."'>".$user[0]['users']['Mail']."</a><br />"; ?>
			<?php echo "<b>Država:</b><a id='drzava'> ".$user[0]['users']['Drzava']."</a><br />"; ?>
			<?php echo "<b>Mesto:</b><a id='mesto'> ".$user[0]['users']['Mesto']."</a><br />"; ?>
			<?php //echo "<b>Predmeti:</b><a id='predmeti'>".$user[0]['users']['Predmeti']."</a><br />"; ?>
			<?php echo "<b>Prvi dostop:</b><a id='pdostop'> ".$user[0]['users']['Prvi_dostop']."</a><br />"; ?>
			<?php echo "<b>Zadnji dostop:</b><a id='zdostop'> ".$user[0]['users']['Zadnji_dostop']."</a><br />"; ?>
			<?php //echo "<b>Uporabniško:</b><a id='uporabnisko'>".$user[0]['users']['Uporabnisko']."</a><br />"; ?>
			<?php echo "<b>Slika:</b><br />".$this->Html->image('Server/'.$user[0]['users']['Uporabnisko']."/".$user[0]['users']['Slika'],array('alt'=>'profilna_slika','width'=>'200'))."<br />"; ?>		
			<?php
?>

	</div>
		</div>
		</div>
	





